<!--The content below is only a placeholder and can be replaced.-->
 <div>
     <h1>{{appTitle}}</h1>
     <app-new-component></app-new-component>
     <p>
     <input [(ngModel)]="btnTitle" #ctrl="ngModel" required> <br><br>
     </p>
     <button [ngClass]="{red:redBool}" (click)="changeColor()">{{btnTitle}}</button>
     <br>
     <br>
    <div [ngClass]="{red:redBool, green:greenBool, blue:blueBool}" [innerHtml]="element"></div>
    <div [ngClass]="{rectangle:true}" mwlResizable [enableGhostResize]="true"
         [resizeEdges]="{bottom: true, right:true, top: true, left: true}"
         (resizeEnd)="onResizeEnd($event)"
         >I am resizable</div>

 </div>
  


