.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

mwlResizable {
    box-sizing: border-box;
}

.rectangle{
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    background-color: #FD4140;
    border: solid 1px #121621;
    color: #121621;
    margin: auto;
}